<div class="form-container">
  <form class="form" #editForm="ngForm" (ngSubmit)="updateProfile(editForm)">
    <p>Use the form below to update your profile</p>
    <label class="list-item" for="name">Name</label>
    <input
      class="input"
      type="text"
      id="name"
      name="name"
      [ngModel]="profile.name"
    />

    <label class="list-item" for="contact">Contact</label>
    <input
      class="input"
      type="text"
      id="contact"
      name="contact"
      [ngModel]="profile.contact"
    />

    <label class="list-item" for="bio">Bio</label>
    <input
      class="input"
      type="text"
      id="bio"
      name="bio"
      [ngModel]="profile.bio"
    />
    <button class="btn">Update</button>
  </form>
</div>
